*{
	text-decoration:none;
}
.header-belajar img {
    width:60%;
    height:80%;
    margin-left:20%;
}

.baby {
    width:0.6%;
    height:100%;
}

.content {
    width:20%;
}

.events h1 {
    font-size:36px;
    padding-left:2%;
    padding-top:0.6%;

}

.ju {
	width:30%;
	height:100%;
	float:left;
}
.ta h4 {
	text-align:center;
	font-size:28px;
}
.ta {
	height:16%;
	width:100%;
	background:white;
	
}
.texs h2 {
	font-size:34px;
	color:white;
	padding-left:20px;
	padding-top:12px;
}
.zu {
	width:100%;
	height:88%;
}
.texs {
	width:100%;
	height:100px;
	background:#37474F;
}
.kami i {
	font-size:20;
	color:#37474F;
	padding-left:14%;
	padding-top:2%;
	
}
.lagu i {
	font-size:20;
	color:#37474F;
	padding-right:14%;
	padding-top:2%;
	
}
.lagu a {
	font-size:20px;
	color:#424242;
	padding-left:8%;
}
.kami a {
	font-size:20px;
	color:#424242;
	padding-left:18%;
}
.kami {
	width:16%;
	height:100%;
	background:#EEEEEE;
	float:right;
	border-radius:6px;
	border:2px solid #BDBDBD;
	margin-right:6%;
	
}
.lagu {
	width:16%;
	height:100%;
	background:#EEEEEE;
	float:left;
	border-radius:6px;
	border:2px solid #BDBDBD;
	margin-left:6%;
}

.hijau {
	margin-top:5%;
	width:100%;
	height:6%;
}
.isilearning {
	width:100%;
	height:580px;
	
}
.j a i {
	font-size:30px;
	padding-right:20px;
	color:#37474F;
}
.h h1 {
	font-size:30px;
	text-align:center;
	padding-top:20px;
	padding-bottom:30px;
	color:#424242;
}
.h img {
	margin-left:36%;
	width:26%;
	height:40%;
}
.h {
	width:70%;
	height:100%;
	float:left;
	
}
.tess {
	width:80%;
	height:20%;
	margin-top:4%;
	margin-left:10%;
	
}
.tess p {
	font-size:16px;
	text-align:justify;
	color:#757575;
}
.j{
	height:70%;
	float:left;
}
.j {
    width: 100%;
    height: 83%;
    overflow-y: auto;
}

.j a {
    background:white;
    display: block;
    padding: 24px;
    text-decoration: none;
	font-size:20px;
}

.j a:hover {
    background-color: #EEEEEE;
}

.j a.active {
    background-color: #4CAF50;
    color: white;
}
.word {
	width:100%;
	height:170px;
	background:#eeeeee;
}
.siji {
	float:left;
	background:#EEEEEE;
}
.papat {
	background:#37474F;
	float:left;
}
.siji i {
	font-size:40;
	color:#37474F;
	text-align:center;
	padding-top:10%;
}
.siji p {
	font-size:20px;
	text-align:center;
	padding-top:2%;
	color:#757575;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}