.penjelasan {
    width:21%;
    height:1000px;
    background:white;
}
.hadiah {
    width:69%;
    height:1000px;
    /* background:#EEEEEE; */
}
.image {
    width:19%;
    height:200px;
    margin-top:10px;
    background:orange;
}
.image img {
    width:100%;
    height:100%;
    
}
.content-hadiah {
    width:35%;
    height:180px;
    /* background:purple; */
    float:right;
    margin-left:40%;
    margin-top:40px; 
}
.content-hadiah h1 {
    font-size:20px;
}
.content-hadiah p {
    font-size:14px;
}
.pagination {
    display: inline-block;
    margin-top:30px;
    
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}