




/* all */
*{
	padding:0;
	margin:0;
	text-decoration:none;
	color:black;
	font-family:calibry light;
}





/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F5F5F5;
	height:60px;
	width:100%;
	box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.41);
	display:inline-block;
}

ul li {
   float:left;
   background:#F5F5F5;
}
.hover li:hover{
	background:white;
}

.hover ul li a {
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	line-height:60px;
	font-family:calibri light;
}
.dropb {
    color:black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	line-height:60px;
	font-family:calibri light;
}
.toggle {
	width:100%;
	padding:10px 20px;
	background:#EEEEEE;
	text-align: right;
	box-sizing:border-box;
	color:white;
	font-size:30px;
	display:none;
}

.drop:hover .dropb {
    background-color: white;
}

li.drop {
    display: inline-block;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: EEEEEE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: #455A64;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-content a:hover {background-color:white}

.drop:hover .drop-content {
    display: block;
}
.logo {
	
	float:left;
	width:120px;
	height:100%;
}
.logo img {
	display:block;
	width:auto;
	height:90%;
	margin: 5px 0 0 20px; 
}
li a i {
	color:#37474F;
	padding-right:8px;

}
.login{
	display:inline-block;
	float:right;
	margin-top:-46px;
}
.login li a{
	background:#37474F;
	margin-right:10px;
	border-radius:8px;
	color:white;
			
}
.logi {
	
	float:left;
	width:80px;
	height:6%;
}
.logi img {
	display:block;
	width:auto;
	height:90%;
}
@media (max-width:700px){
.toggle {
display:block;
}
ul {
	width:100%;
	display:none;
	height:400px;
	
}
.login{
	width:100%
}
.login li a{
	background:#37474F;
	border-radius:8px;
	margin-left:42%;
}
.logo {
	width:0;
	height:0;
}

ul li{
	clear:right;
	display:block;
	margin: 0;
	width:100%;
	height:18%;
}
.active {
	display:block;
}
}





/* jumbotron */

.dibawahnav{
	height:500px;
}



/*keunggulan */

.events {
	background-image: linear-gradient(-90deg, #ec5252 , #6e1a52);
}
#deno {
	display:none;
	background:white;
	width:200px;
	height:200px;
	position:fixed;
	top:0;
	bottom:100;
	
}
.content {
	margin-top:17px;
}






/* belajar */

.under h1 {
	color:#37474F;
	font-size:30px;
}
.under p {
	color:#78909C;
}
.under h4 {
	font-size:20px;
	color:#455A64;
}
.dahulu {
	height:650px;
}
.under {
	margin-right:160px;
}

.hunder h1 {
	color:#37474F;
	font-size:30px;
}
.hunder p {
	color:#78909C;
}
.hunder h4 {
	font-size:20px;
	color:#455A64;
}



/* populer */


.populer {
	background:#FAFAFA;
	width:200%;
	height:570px;
}
.content-populer {
	background:#FAFAFA;
	width:50%;
	height:10%;
	margin:0;
	padding:0;
}
.content-populer p {
	text-align:center;
	padding-top:40px;
	font-size:40px;
	color:#37474F;
}
.card-select {
	
	padding:0;
	background:#FAFAFA;
	height:52%;
	margin-top:100px;
	display: inline-flex;
	
}
.kartu {
	width:28%;
	height:100%;
	background:#ffffff;
	margin-left:3%;
	float:left;
}
.header-card {
	width:100%;
	height:15%;
	
}

.header-card h1 {
	text-align:center;
	color:#ffffff;
	font-size:24px;
	padding-top:9px;
}

.part {
	width:100%;
	height:85%;
	
}

.card-image {
	width:40%;
	height:100%;
	float:left;
}

.card-image img {
	margin-top:27%;
	width:90%;
	height:150px;
	margin-left:10%;
}

.card-content{
	width:60%;
	height:100%;
	float:left;
}

.card-content h1 {
	font-size:14px;
	padding-left:20px;
	color:#9E9E9E;
}




/* testimoni */



.testimoni {
	background:#ffffff;
	width:100%;
	height:1270px;
}
.content-testimoni {
	background:#ffffff;
	width:100%;
	height:100px;
	margin:0;
	padding:0;
}
.content-testimoni p {
	text-align:center;
	padding-top:40px;
	font-size:40px;
	color:#37474F;
}
.testimoni-select {
	
	padding:0;
	background:#ffffff;
	width:100%;
	height:310px;
	margin-top:70px;
}
.testimoni-kartu {
	width:27%;
	height:100%;
	background:#FAFAFA;
	margin-left:1%;
	float:left;
	visibility:hidden;
}
.header-testimoni {
	width:100%;
	height:1%;
	
}

.header-testimoni h1 {
	text-align:center;
	color:#ffffff;
	font-size:24px;
	padding-top:9px;
}

.part-testimoni {
	width:90%;
	height:60%;
	margin:0 auto;
	
}

.part-testimoni h1 {
	font-size:30px;
	padding-top:20px;
	text-align:center;
}

.part-testimoni p {
	font-size:14px;
	padding-left:10px;
	color:#616161;
}

.profil-testimoni {
	width:30%;
	height:38%;
	border-radius:50%;
	margin: 0 auto;
	margin-top:2%;
	
}

.testup {
	width:27%;
	height:100%;
	float:left;
	animation-name: testUp;
	-webkit-animation-name: testUp;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
	margin-left:1%;
}

@keyframes testUp {
	0% {
		opacity: 0.2;
		-webkit-transform: translateY(70%);
	}
	100%{
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@-webkit-keyframes testUp {
	0%{
		opacity: 0.2;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}






/* hari  */

.hari {
	background:#FAFAFA;
	width:200%;
	height:570px;
	position:absolute;
	left:0;
	top:0;
	transition:2s;
}
.card-select {
	
	padding:0;
	background:#FAFAFA;
	width:50%;
	height:52%;
	margin-top:100px;
	
}
.kartu {
	width:28%;
	height:100%;
	background:#ffffff;
	margin-left:4%;
	float:left;
}
.header-card {
	width:100%;
	height:15%;
	
}

.header-card h1 {
	text-align:center;
	color:#ffffff;
	font-size:24px;
	padding-top:9px;
}

.part {
	width:100%;
	height:85%;
	
}

.card-image {
	width:40%;
	height:100%;
	float:left;
}

.card-image img {
	margin-top:27%;
	width:90%;
	height:150px;
	margin-left:10%;
}

.card-content{
	width:60%;
	height:100%;
	float:left;
}

.card-content h1 {
	font-size:14px;
	padding-left:20px;
	color:#9E9E9E;
}

.ki {
	width:50px;
	height:50px;
	position:absolute;
	left:1%;
	z-index:2;
	top:50%;
}

.ka {
	width:20px;
	height:20px;
	position:absolute;
	right:1%;;
	z-index:2;
	margin: 0 auto;
	top:50%;
}
