.biodata {
    background-color: #42A5F5; 
    background-image: linear-gradient(to right, #42A5F5 , #AB47BC);
}

.login {
    height:400px;
}

.atas {
    margin-top:40px;
}

.login {
	background-color:rgba(230, 230, 230,0.5);
}

.form_login {
    margin-top:140px;
}