.dibawahnav {
    margin-top:-32px;
}
.under p a{
    text-decoration:none;
    margin-left:6%;
    color:#455A64;;
}
.header-belajar{
    height:14%;
}
.tubuh-belajar {
    height:86%;;
    background:white;
}
.pebatas{
    width:0.4%;
    height:69%;
    margin-top:4%;   
}
.penjelasan{
    width:49%;
    height:86%;
    background:white;
}
.fitur {
    width:50%;
    height:86%;
    background:white;
}
.atas-fitur {
    height:14%;
}
.bawah-fitur {
    height:86%;
    background:white;
}
.bela {
    background:#FAFAFA;
    margin-top:-100px;
}
.bawah-belajar {
    background:white;
    height:14%;
}
.atas-belajar {
    height:300px;
    background:white;
}
.header-belajar p {
    font-size:20px;
}
.atas-fitur {
    font-size:20px;
} 
.untuk-selisih {
    width:100%;
    height:6%;
}
.belajar-gambar {
    width:40%;
    height:100%;
}
.belajar-teks {
    width:59%;
    height:100%;
}
.belajar-gambar img {
    width:96%;
    height:90%;
    margin-top:20px;
}
.belajar-teks p {
    font-size:14px;
    padding-top:9%;
}
.bawah-fitur h1 {
    font-size:14px;
   
}