
.nav-image img {
    width:200px;
    height:200px;
}
.homeberita{
    height:260px;
}
.button-samping{
    height:40px;
    margin-top:6%;
}
.bagian{
    height:40px;
}
.content img{
    width:400px;
    height:260px;
    margin:0 auto;
    margin-top:80px;
    margin-bottom:80px;	
    margin-left:26%;
}
.content{
    margin-left:10%;
}
.content h1{
    text-align:center;
}

.footer-container {
    background-image:url("../Asset/gambar/home.jpg");
    background-size:cover;
}
.jumbotron{
    padding-bottom:0;
}

/* hari  */

.hari {
	background:#FAFAFA;
	width:100%;
	height:100%;
}
.card-sele {
	
	padding:0;
	background:#FAFAFA;
	height:95%;
    margin-top:50px;
    width:100%;
    float:left;
	
}
.kartu {
	width:28%;
	height:26%;
	background:#ffffff;
	margin-left:4%;
    float:left;
    margin-top:4%;
}
.header-card {
	width:100%;
	height:15%;
	
}

.header-card h1 {
	text-align:center;
	color:#ffffff;
	font-size:24px;
	padding-top:9px;
}

.part {
	width:100%;
	height:85%;
	
}

.card-image {
	width:40%;
	height:100%;
	float:left;
}

.card-image img {
	margin-top:27%;
	width:90%;
	height:150px;
	margin-left:10%;
}

.card-content{
	width:60%;
	height:100%;
	float:left;
}

.card-content h1 {
	font-size:14px;
	padding-left:20px;
	color:#9E9E9E;
}

.ki {
	width:50px;
	height:50px;
	position:absolute;
	left:1%;
	z-index:2;
	top:50%;
}

.ka {
	width:20px;
	height:20px;
	position:absolute;
	right:1%;;
	z-index:2;
	margin: 0 auto;
	top:50%;
}

.pagination {
    display: inline-block;
    background-color:#FAFAFA ;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color:#FAFAFA ;
}
.untuk-selisih {
    width:100%;
    height:6%;
    background-color:#FAFAFA ;
}