* {box-sizing: border-box}
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.content {
	width:100%;
	height:100%;
	background:rgba(26, 26, 26,0.4);
}
.text h1  {
	text-align:center;
	padding-top:150px;
	color:white;
	font-size:36px;
	
}
/* Style tab links */
.tablink {
    background-color: #37474F ;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color:  #78909C ;
}

.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 600px;
   
}


#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}

.text {
	border-radius:50%;
	width:156px;
	height:160px;
	background:black;
	margin:0 auto;
}
.text img {
	width:100%;
	height:100%;
	border-radius:50%;
}
.selisih {
	width:100%;
	height:30%;
}
div.ex3 {
    background-color: lightblue;
    width: 80%;
    height: 260px;
    overflow: auto;
	margin: 0 auto;
	margin-top:40px;
}