.open{
    /* background-color:black; */
    /* height:40px; */
    height:800px;
    margin-top:-10px;
    width:100%;
}
.conver {
    background-color:rgba(230, 230, 255,0.4);
    height:800px;
    margin-top:-10px;
}
.code-start{
    height:100px;
}
.content-conver{
    /* background-color:red; */
    height:620px;
    margin-top:20px;
}
.content-registrasi{
    width:20%;
    height:80%;
    background-color:#37474F;
    float:left;
    margin-left:2.18%;
    margin-top:4%;
}
.content-premium{
    width:24%;
    height:100%;
    background-color:rgba(153, 206, 255,0.4);
    float:left;
    margin-left:2.18%;
}
.judul-content{
    width:100%;
    height:10%;
    background:rgba(153, 206, 255,0.4);
}
.syarat-content{
    width:97%;
    margin-left:1.5%;
    height:87.5%;
    background:white;
}

.code-start h1 {
    font-size:26px;
    text-align:center;
    color:#37474F;
    padding-top:1%;
}

.code-start p {
    font-size:20px;
    text-align:center;
    color:#37474F;

}

