.penjelasan {
    width:24%;
    height:600px;
    margin-right:140px;
    margin-left:60px;
}
.hadiah {
    width:54%;
    height:420px;
    /* background:#EEEEEE; */
    background-color:rgba(242, 242, 242,0.7);
}
.image {
    width:19%;
    height:200px;
    margin-top:10px;
    background:orange;
}
.image img {
    width:100%;
    height:100%;
    
}
.content-hadiah {
    width:35%;
    height:180px;
    /* background:purple; */
    float:right;
    margin-left:40%;
    margin-top:40px; 
}
.content-hadiah h1 {
    font-size:20px;
}
.content-hadiah p {
    font-size:17px;
}

.penjelasan h1 {
    font-size:30px;
}

.penjelasan h2 {
    font-size:26;
    color:red;
}

.penjelasan p {
    font-size:14px;
}

.content-seminar {
    width:100%;
    height:100%;
}
form {
    margin-left:100px;
}

