.header-content{
    height:1400px;
    background-color:rgba(255, 255, 255,0.4);
}
.pembuka-profesional {
    width:100%;
    height:10%;
    background-color:#66BB6A;
}
.registrasi-content {
    height:1100px;
    background:white;
    margin: 0 auto;
    margin-top:60px;
    width:50%;
}
.header-content h1 {
    font-size:40px;
}
.header-content p {
    font-size:24px;
    color:#757575;
}
.pembuka-profesional p {
    font-size:30px;
    color:white;
    text-align:center;
    padding-top:4%;
}
.tubuh-profesional {
    width:100%;
    height:90%;
}
.tahap-awal {
    width:100%;
    height:190px;
    background:#FAFAFA;
}

.tahap-awal h1 {
    font-size:24px;
}
.fulljava {
    float:left;
}
.fulljava a {
    background-color:white;
    font-size:19px;
    color:#424242;
}
.fullphton {
    float:left;
}
.fullphton a {
    background-color:white;
    font-size:19px;
    color:#424242;
}
.fullphton a:hover{
    background-color:#29B6F6;
    color:white;
}
.fulljava a:hover{
    background-color:#29B6F6;
    color:white;
}
.selisih-profesional {
    width:80%;
    height:1px;
    background:#424242;
    margin-left:10%;
}
.tahapawalplus-satu {
    width:100%;
    height:360px;
    background:#FAFAFA;
}
.tahapawalplus-satu h1 {
    font-size:24px;
}
form input {
    width:84%;
    margin-left:7%;
    margin-bottom:1%;
    height:40px;
}
form p {
    margin-left:7%;
}
.tahapawalplus-satu p {
    font-size:17px;
}
.tahapawalplus-dua {
    width:100%;
    height:250px;
    background:#ffffff;
}
.tahapawalplus-dua h1 {
    font-size:24px;
}
.tahapawalplus-dua p {
    font-size:17px;
    margin-left:9.5%;
    
}